<app-tabs #locationTabs></app-tabs>

<ng-template #tabContent let-location>
    <div class="well flex">
        <div class="weather-info">
            <h3>{{ location?.name }} ({{ location?.zipCode }})</h3>
            <h4>Current conditions: {{ location?.weather[0]?.main }}</h4>
            <p>
                Current {{ location?.main?.temp | number:'.0-0' }}
                - Max {{ location?.main?.temp_max | number:'.0-0' }}
                - Min {{ location?.main?.temp_min | number:'.0-0' }}
            </p>
            <p>
                <a [routerLink]="['/forecast', location?.zipCode]">Show 5-day forecast for {{ location?.name }}</a>
            </p>
        </div>
        <div>
            <img [src]="weatherService.getWeatherIcon(location?.id)">
        </div>
    </div>
</ng-template>
